body{
	padding-top: 128px;
}
.section {
	padding-top: 128px;
}
.section p,
.section ul,
.section li{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}

[data-module=learning] img{
	max-width: 100%;
}

@media (min-width: 768px) {
	body{
		padding-top: 64px;
	}
	.section {
		padding-top: 64px;
	}
}