body{
	padding-top: 154px;
	background-color: #84928B;
}
.section {
	padding-top: 154px;
}
.section p,
.section ul,
.section li{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}

[data-module=learning] img{
	max-width: 100%;
}

.footer .col-md-6{
	text-align: center;
}

.body-container {
	background-color: #fff;
}

@media (min-width: 768px) {
	body{
		padding-top: 51px;
	}
	.section {
		padding-top: 51px;
	}
}